body {background-image:url(https://media.durmaplay.com/images/durmaplay/products/background/monster-hunter-world-pc-cd-key-satin-al-durmaplay.jpg);background-size:cover;font-size: x-large;}
h1 {color:white;text-align: center;}
p {font-size: 20px;color: white;}
ul {font-size: 20px;list-style: none; color: red;}